version: '3.8'
services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.109.0
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    environment:
      - GRAFANA_AUTH_TOKEN=${GRAFANA_AUTH_TOKEN} 
    ports:
      - "4317:4317"
      - "4318:4318"
    dns:
      - 1.1.1.1
      - 1.0.0.1
      - 8.8.8.8
      - 8.8.4.4