receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch: {}
  attributes/redact:
    actions:
      - key: client.address
        action: insert
        value: "[REDACTED]"
      - key: user.id
        action: delete

exporters:
  otlphttp:
    endpoint: https://otlp-gateway-prod-eu-central-0.grafana.net:443/otlp
    headers:
      authorization: ${GRAFANA_AUTH_TOKEN} 
    sending_queue:
      num_consumers: 10
      queue_size: 5000
    retry_on_failure:
      enabled: true
      initial_interval: 5s
      max_interval: 30s
      max_elapsed_time: 300s
  logging:
    loglevel: debug

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch, attributes/redact]
      exporters: [otlphttp, logging]
    metrics:
      receivers: [otlp]
      processors: [batch, attributes/redact]
      exporters: [otlphttp, logging]